.name{
    text-align: center;
    position: fixed;
    text-align: center;
width: 100%;
    text-shadow: 6px 5px 6px rgba(0, 0, 0, 0.567);
   
}
body{
    background-color: rgb(244, 232, 232);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#start{
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    font-weight: bold;
    letter-spacing: 2px;
}